<configuration>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n" />

    <springProfile name="default">
        <property name="APP_LOG_ROOT" value="./logs"/>
    </springProfile>

    <springProfile name="openshift">
        <property name="APP_LOG_ROOT" value="/var/log/app"/>
    </springProfile>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="applicationLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/ECIFM_BRIDGE_INFO.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/ECIFM_BRIDGE_INFO-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/ECIFM_BRIDGE_ERROR.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/ECIFM_BRIDGE_ERROR-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="com.ecifm.saml.bridge" level="INFO">
        <appender-ref ref="applicationLog"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.ecifm.saml.bridge" level="WARN">
        <appender-ref ref="errorLog"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>
